{{set . "title" "Home"}}
{{template "header.html" .}}
<nav class="navbar navbar-default" role="navigation">

	<div class="container-fluid">
		<div class="navbar-header">
			<span class="navbar-brand">Servers</span>
		</div>
		<div class="collapse navbar-collapse">
			<div class="nav navbar-nav">
				<div class="navbar-nav navbar-btn dropdown">
					<a href="#" class="btn btn-toolbar dropdown-toggle" data-toggle="dropdown">
						Account
						<b class="caret"></b>
					</a>
					<ul class="dropdown-menu" role="menu">
						<li class="disabled"><a href="#">Settings</a></li>
						<li class="divider"></li>
						<li><a href="{{ url "User.Logout" }}">Logout</a></li>
					</ul>
				</div>
				<div class="navbar-default btn-group">
					<button class="btn navbar-btn btn-info" ng-click="ServersAction('reload')">Reload config</button>
					<button class="btn navbar-btn btn-info" ng-click="ServersAction('save')">Save config</button>
				</div>
				<div class="navbar-default btn-group">
					<button class="btn navbar-btn btn-primary" ng-click="ServersAction('run')">Query</button>
					<button class="btn navbar-btn btn-primary" ng-click="ServersAction('start')">Start</button>
					<button class="btn navbar-btn btn-primary" ng-click="ServersAction('stop')">Stop</button>
				</div>

				<!--<button class="btn navbar-btn btn-info disabled" disabled ng-click="">Manage Users</button>-->
			</div>
		</div>
		<script>
			{{ with .serversJSON }}
			servers	= JSON.parse ( {{ . }} );
			{{ end }}
			error	= null;
			{{ with .error }}
			error	= {{ . }};
			{{ end }}
		</script>
		<h4 ng-if="error" class="bg-danger">{{ "{{" }} error {{ "}}" }}</h4>

		<div class="panel panel-default server" ng-repeat="$server in servers">
			<div class="panel-heading center-block">
				<div class="pull-left">
					{{ "{{" }} $server.label {{ "}}" }}
				</div>
				<div ng-switch on="$server.status" class="pull-right btn-group">
					<button class="btn btn-primary"
							ng-click="ServerAction( $server.label, 'run')">Query</button>
					<button ng-switch-default class="btn btn-primary"
							ng-click="ServerAction( $server.label, 'start')">Start</button>
					<button ng-switch-when="running" class="btn btn-primary"
							ng-click="ServerAction( $server.label, 'stop')">Stop</button>
					<button class="btn btn-primary" ng-click="OpenServerEdit( $server.label )">Edit</button>
				</div>
				<div ng-switch on="$server.status" class="center-block text-center">
					<span ng-switch-when="running" class="status text-success">running</span>
					<span ng-switch-when="" class="status text-info">stopped</span>
					<span ng-switch-when="stopped" class="status text-info">stopped</span>
					<span ng-switch-default class="status text-info">{{ "{{" }} $server.status {{ "}}" }}</span>
					@ <span class="queryInterval">{{ "{{" }} $server.query_interval {{ "}}" }}</span> sec
				</div>
			</div>
			<div class="panel-body">
				<div class="pull-right">
					<span ng-if="$server.private_key.length" class="label label-info">ssh-key</span>
					<span ng-if="$server.password.length" class="label label-info">password</span>
				</div>
				<div style="margin-bottom: .5em">
					{{ "{{" }} $server.username {{ "}}" }}
					@ {{ "{{" }} $server.host {{ "}}" }}
					<span ng-if="$server.port">: {{ "{{" }} $server.port {{ "}}" }}</span>
				</div>
				<div ng-if="$server.error_msg" class="alert-error">
					{{ "{{" }} $server.error_msg {{ "}}" }}
				</div>

				<table ng-if="$server.responses" class="table table-responsive table-condensed table-hover">
					<thead><tr>
						<th>Cmd</th><th>Last response</th>
					</tr></thead>
					<tbody ng-repeat="($cmd, $value) in $server.responses">
					<tr>
						<td>{{ "{{" }} $cmd  {{ "}}" }}</td><td>{{ "{{" }} $value  {{ "}}" }}</td>
					</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

</nav>

{{ template "App/server_edit.html" }}

<div class="container">
	<div class="row">
		<div class="span6">
			{{template "flash.html" .}}
		</div>
	</div>
</div>

{{template "footer.html" .}}
